// $mainFont: ;
// $maxWidth:  max-width 78%;

// Colors
$heroColor: #2a382a;
$textColor: #ffff;
$linkColor: lightgray;
$darkLinkColor: grey;
$activeColor: black;

// Google Fonts
$montserrat: 'Montserrat', sans-serif;
$heroFont:'Lora', serif;

// Font size
$fontHero: 15px;
$fontDescription: 13px;

$lineheight1: 1.4;
$lineheight2: 1.7;