
// Colors
$heroColor: #1e3020;
$textColor: #ffff;
$linkColor: lightgray;
$darkLinkColor: grey;
$activeColor: black;
$button: #3d6f41;
$dogFood: #4d8855;

// Opacity
$opacity: 0.8;

// Google Fonts
$montserrat: 'Montserrat', sans-serif;
$heroFont:'Lora', serif;

// Font size
$fontHero: 15px;
$fontDescription: 13px;

$lineheight1: 1.4;
$lineheight2: 1.7;
