
// Colors
$heroColor: #1e3020;
$h2Color:#2a382a;
$textColor: #ffff;
$linkColor: lightgray;
$darkLinkColor: grey;
$activeColor: black;
$button: #3d6f41;
$hoverBotton: #2a542a;
$dogFood: #4d8855;
$linkFooter: #aebbb1;

// Opacity
$opacity: 0.8;

// Google Fonts
$montserrat: 'Montserrat', sans-serif;
$heroFont:'Lora', serif;

// Font size
$fontHero: 15px;
$fontDescription: 12px;

$lineheight1: 1.4;
$lineheight2: 1.7;
$lineheight3: 2;
